<div class="container">
  
  <div class="page-header text-center">       
    <h1>Schedule City Acceptor</h1>        
    <p>Real-time scheduling demo using <a href="https://firebase.com" target="_blank">Firebase</a> and <a href="https://angularjs.org" target="_blank">AngularJS</a> by <a href="https://scotch.io/tutorials/javascript/build-a-real-time-scheduling-app-using-angularjs-and-firebase" target="_blank">scotch.io</a>. 
  </div>

    
  <p class="text-center">
  Count of Online Users: {{ online }} <br>
  <strong class="text-info">Accept or Reject Pending Request!</strong>
  </p>
  
  <div class="times text-center">
    
        <lisst>
        <itemm class= "d-style d-margin">DAY </itemm>
        <div class ="h-time" ng-repeat="slot in days.monday.slots">
        <itemm>{{slot.time}}</itemm></div>
        </lisst>  
     
        <div ng-repeat="day in days">
        <lisst>  
        <itemm class="d-margin"><h2>{{ day.name }}</h2></itemm>    
        <div class="acctime-slot" ng-repeat="(key,slot) in day.slots">     	
        <itemm>
        <input type="checkbox" id="{{ day.name }}-{{ $index }}" name="{{slot.booked}}" ng-click ="showChoice(day.name , key)" ng-disabled="slot.booked !== 'Pending'">
           
        <label for="{{ day.name }}-{{ $index }}">
        <span ng-if="slot.booked === 'Pending'">Pending</span>
        <span ng-if="slot.booked === true">Booked</span>
        <span ng-if="!slot.booked">Available</span> 
        </itemm>
        </label>
      </div>
      </lisst>
    </div>     
      
  </div>    
 
  
  <p class="text-center">    
    <a href="#/acceptor" ng-click="reset()" class="btn btn-primary">Reset</a>
  </p>
</div>